/*CSS par défaut https://www.w3schools.com/cssref/css_default_values.php*/
html { display: block ;} html:focus { outline: none ;}
head  {display: none ;}
title { display: none ;}
link { display: none; }
body { display: block ; outline: 8px;} body:focus {outline: none ;}
p {display : block ; margin-top: 1em;   margin-bottom: 1em; margin-left: 0; margin-right: 0;} 
div {display :block;}
mark { background-color: yellow ; color: black;}